<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.hidroh.calendar">

    <!-- Required by Calendar Provider -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- Required for weather sync -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".apps.AppController"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label=""
            android:launchMode="singleTop" />
        <activity android:name=".activities.TaskActivity" />


        <activity
            android:name=".activities.Tasks_Activity"
            android:label="Tasks"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>



        <activity
            android:name=".activities.Tasks_Sub_Activity"
            android:label="Display Tasks"
            android:parentActivityName=".activities.Tasks_Activity"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Tasks_Activity" />
        </activity>
        <activity
            android:name=".activities.Tasks_Add_Activity"
            android:label="Create Tasks"
            android:parentActivityName=".activities.Tasks_Activity"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Tasks_Activity" />
        </activity>
        <activity
            android:name=".activities.Tasks_List_Draft_Activity"
            android:label="Draft Tasks"
            android:parentActivityName=".activities.Tasks_Activity"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Tasks_Activity" />
        </activity>
        <activity
            android:name=".activities.Tasks_Detail_List_Draft_Activity"
            android:label="Detail Draft"
            android:parentActivityName=".activities.Tasks_Activity"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Tasks_Activity" />
        </activity>
        <activity
            android:name=".activities.EditActivity"
            android:windowSoftInputMode="adjustResize" />

        <receiver android:name=".weather.WeatherSyncAlarmReceiver" />

        <service android:name=".weather.WeatherSyncService" />

        <activity
            android:name=".activities.ContactActivity"
            android:label="Contacts"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.OpportunityActivity"
            android:label="@string/title_activity_opportunity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>

        <activity
            android:name=".activities.CustomerActivity"
            android:label="Customer"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".activities.CustomerDraftActivity" />

        <activity android:name=".activities.CustomerAddActivity"
            android:label="Add Customer"
            android:parentActivityName=".activities.CustomerActivity"
            android:theme="@style/AppTheme2"/>

        <activity android:name=".activities.CustomerDetailActivity"
            android:label="Detail Customer"
            android:parentActivityName=".activities.CustomerActivity"
            android:theme="@style/AppTheme2"/>

    </application>

</manifest>